/* ==UserStyle==
@name         Wikipedia and friends dark
@description  A dark theme for Wikipedia and other Wikimedia projects.
@namespace    gitlab.com/maxigaz/wikipedia-and-friends-dark
@author       maxigaz
@homepageURL  https://gitlab.com/maxigaz/wikipedia-and-friends-dark
@version      0.0.0
@preprocessor stylus

@var range body-font-size "Body font size" [0.875, 0.75, 1.5, 0.125, "em"]
@var checkbox fixed-width-centre "Fixed width and centre" 0
@var checkbox hide-side-panel "Hide side panel" 0
@var checkbox colourfulTables "Colourful tables" 0
==/UserStyle== */

@-moz-document domain("wikipedia.org"), domain("wiktionary.org"), domain("wikiquote.org"), domain("wikibooks.org"), domain("wikisource.org"), domain("mediawiki.org"), domain("commons.wikimedia.org"), domain("wikivoyage.org"), domain("wikinews.org"), domain("wikiversity.org")
{
	:root {
		--main-background: #383c4a;
		--lighter-background-1: #3f4353;
		--lighter-background-2: #3f4454;
		--darker-background-1: #323542;
		--darker-background-2: #313441;

		--main-text-color: #e4e4e4;
		--lighter-text-color-1: #e7e7e7;
		--lighter-text-color-2: #eee;
		--lighter-text-color-3: #f5f5f5;

		--darker-text-color-1: #ddd;
		--darker-text-color-2: #d4d4d4;
		--darker-text-color-3: #cacaca;
		--darker-text-color-4: #c7c7c7;
		--darker-text-color-5: #bababa;

		--a-color: #2596ff;
		--a-hover-color: #23baff;

		--light-divider: #404555;
		--lighter-divider: #434859;
		--main-border: #292c36;
		--btn-border: #1b1b1b;
		--btn-background: #474b5d;
		--btn-disabled-background: #464a5c;
		--btn-disabled-color: #878787;
		--table-border: #2f333f;
	}

	body {
		background-color: var(--lighter-background-1);
	}

	h1, h2, h3, h4, h5, h6 {
		border-color: var(--lighter-divider);
		color: var(--lighter-text-color-3);
	}

	a {
		color: var(--a-color);
	}

	a:visited {
		color: var(--a-color);
	}

	/* ===== Header ===== */

	#mw-head {
		background-color: var(--lighter-background-1);
	}

	.vectorTabs {
		background-image: none;
		border-left: 1px solid var(--main-border);
	}

	.vectorTabs li a {
		background-color: var(--lighter-background-1);
		color: var(--a-color);
	}

	.vectorTabs li.selected a, .vectorTabs li.selected a:visited {
		color: var(--lighter-text-color-3);
		background-color: var(--main-background);
		background-image: linear-gradient(var(--lighter-background-1) 10%, var(--main-background));
	}

	#pt-anonuserpage {
		color: var(--darker-text-color-5);
	}

	/* ===== Side panel ===== */

	#mw-panel .portal .body li a {
		color: var(--a-color);
	}

	#mw-panel .portal .body li a:visited {
		color: var(--a-color);
	}

	#mw-panel .portal h3 {
		color: var(--lighter-text-color-3);
		border-bottom: 1px solid #53586d;
		box-sizing: border-box;
		padding-bottom: 4px;
	}

	#mw-panel .portal .body:first-of-type {
		background-image: none;
	}

	.vector-menu-portal .body li a, .vector-menu-portal .vector-menu-content li a {
		color: var(--a-color);
	}

	.vector-menu-portal .body li a:visited, .vector-menu-portal .vector-menu-content li a:visited {
		color: var(--a-color);
	}

	.wb-langlinks-link > a:link, .wb-langlinks-link > a:visited {
		color: var(--darker-text-color-5) !important;
	}

	.wb-langlinks-link > a:hover {
		color: var(--a-hover-color) !important;
	}

	/* Language selection popup */

	.uls-lcd {
		background-color: var(--main-background);
	}

	.skin-vector .uls-search {
		background-color: var(--main-background);
		border-color: var(--btn-border);
	}

	.skin-vector .uls-menu {
		border-color: var(--main-border);
	}
	
	.skin-vector .uls-lcd-region-title {
		color: var(--lighter-text-color-1);
	}

	.uls-language-block a {
		color: var(--a-color);
	}

	/* Option: hide side panel */

	if hide-side-panel == 1 {
		#mw-panel {
			display: none;
		}
	}

	/* ===== Article body ===== */

	.mw-body {
		border-color: var(--main-border);
	}

	.mw-body, .parsoid-body {
		background-color: var(--main-background);
		color: var(--main-text-color);
	}

	.mw-parser-output a.extiw, .mw-parser-output a.extiw:active {
		color: var(--a-color);
	}

	/* Option: fixed width and centre */

	if fixed-width-centre == 1 {
		.mw-body {
			margin-left: auto;
			margin-right: auto;
			max-width: 900px;
		}
	}

	/* Option: font size */

	.mw-body-content {
		font-size: body-font-size;
	}

	/* Various mobile elements */

	#page-actions {
		border-bottom-color: var(--main-border);
		border-top-color: var(--light-divider);
	}

	.hatnote, .dablink, .rellink {
		background-color: var(--main-background);
		color: var(--darker-text-color-4);
	}

	.hatnote a, .dablink a, .rellink a {
		color: var(--a-color);
	}

	.content .mw-parser-output > h2, .content .section-heading {
		border-color: var(--light-divider);
	}

	.content figcaption, .content .thumbcaption {
		color: var(--darker-text-color-5);
	}

	/* Info box */

	.infobox {
		background-color: var(--darker-background-1);
		border-color: var(--main-border);
		color: var(--lighter-text-color-2);
	}

	.infobox-header {
		background-color: var(--lighter-background-1) !important;
	}

	.infobox th[style*="text-align:center"], .infobox th[style*="text-align: center"] {
		background-color: #353947 !important;
	}

	.infobox td[style*="text-align:center"], .infobox td[style*="text-align: center"] {
		background-color: #353947 !important;
	}

	/* Info box (mobile) */

	.content table.infobox {
		background-color: var(--darker-background-1);
		border-color: var(--main-border);
	}

	.content table.infobox th, .content table.infobox td {
		border-color: var(--main-border);
	}

	/* Vertical navbox */

	.vertical-navbox {
		background-color: var(--darker-background-1) !important;
		border-color: var(--main-border) !important;
	}

	.vertical-navbox th {
		border-color: var(--light-divider) !important;
	}

	/* Table of contents */

	.toc, .mw-warning, .toccolours {
		background-color: var(--darker-background-1);
		border-color: var(--main-border);
	}

	.tocnumber {
		color: var(--darker-text-color-4);
	}

	.toctogglelabel {
		color: var(--a-color);
	}

	/* Table of contents (mobile) */

	.client-js .toc-mobile {
		background-color: var(--darker-background-1);
		border-color: var(--main-border);
	}

	/* Tables */

	.wikitable {
		color: var(--lighter-text-color-2);
		background-color: var(--darker-background-2);
	}

	.wikitable > tr > th, .wikitable > * > tr > th {
		background-color: var(--darker-background-1);
	}

	.wikitable > tr > th, .wikitable > tr > td, .wikitable > * > tr > th, .wikitable > * > tr > td {
		border-color: var(--main-border);
	}

	.wikitable .vevent {
		background-color: var(--darker-background-2) !important;
	}

	/* Tables: charts */
	/* Examples: https://en.wikipedia.org/wiki/Hepburn_romanization */

	if colourfulTables == 1 {
		th[style*="background:#becfeb;"], tr[style*="background:#becfeb;"] {
			background-color: #344053 !important;
		}

		th[style*="background:#d4d4d4;"] {
			background-color: #464545 !important;
		}

		tr[style*="background:#e7f5de;"] {
			background-color: #2f3b2f !important;
		}

		tr[style*="background:#9cf;"], td[style*="background:#9cf;"], span[style*="background:#9cf;"] {
			background-color: #283644 !important;
		}

		td[style*="background:#f3f5de;"] {
			background-color: #3a3b35 !important;
		}

		tr[style*="background:#e9e9e9;"], td[style*="background:#e9e9e9;"] {
			background-color: var(--darker-background-2) !important;
		}

		tr[style*="background:#eee8aa;"], td[style*="background:#eee8aa;"], span[style*="background:#eee8aa;"] {
			background-color: #36342b !important;
		}

		tr[style*="background:#e1a1ff;"], td[style*="background:#e1a1ff;"], span[style*="background:#e1a1ff;"] {
			background-color: #3a2942 !important;
		}

		tr[style*="background:#fc9;"], td[style*="background:#fc9;"], span[style*="background:#fc9;"] {
			background-color: #43362a !important;
		}

		/* Example: https://en.wikipedia.org/wiki/Porsche_928#Timeline */
		tr[style*="background:#f0f0f0;"], td[style*="background:#f0f0f0;"] {
			background: var(--darker-background-1) !important;
		}

		tr[style*="background:#e0e0e0;"], td[style*="background:#e0e0e0;"] {
			background: #2f313e !important;
		}

		tr[style*="background:silver;"], td[style*="silver;"] {
			background: #2b2d39 !important;
		}

	}

	else {
		tr, td {
			background: var(--darker-background-1) !important;
		}
		.wikitable > tr > th, .wikitable > tr > td, .wikitable > * > tr > th, .wikitable > * > tr > td {
			border-color: var(--main-border);
		}
	}

	/* Gallery */
	
	#content .gallerybox div.thumb {
		background-color: var(--darker-background-1);
	}

	li.gallerybox div.thumb {
		border-color: var(--main-border);
	}

	.mw-mmv-post-image {
		background-color: var(--lighter-background-1);
		color: var(--main-text-color);
	}

	.mw-mmv-image-metadata {
		background-color: var(--lighter-background-1);
		border-color: var(--lighter-divider);
	}

	.mw-mmv-credit {
		color: var(--darker-text-color-3);
	}

	.mw-mmv-image-desc {
		color: var(--darker-text-color-3);
	}

	.mw-mmv-image-links li {
		color: var(--darker-text-color-3);
	}

	.mw-mmv-info-box {
		background-color: var(--darker-background-1);
		border-color: var(--main-border);
	}

	.mw-mmv-info-box.mw-mmv-permission-box.full-size {
		background-color: var(--darker-background-1) !important;
	}

	.mw-mmv-permission-box h3 {
		color: var(--darker-text-color-3);
	}

	.mw-mmv-permission-box .mw-mmv-permission-text {
		color: var(--darker-text-color-3);
	}

	.mw-mmv-permission-box .mw-mmv-permission-text .mw-mmv-permission-text-fader {
		background-image: linear-gradient(to bottom,rgba(50, 53, 66, 0) 0%,#323542 100%);
	}

	.mw-mmv-permission-box .mw-mmv-permission-text .mw-mmv-permission-text-fader a {
		background-color: var(--darker-background-1);
	}

	.layouttemplate.mw-content-ltr {
		background-color: var(--darker-background-1) !important;
		border-color: var(--light-divider) !important;
	}

	.mw-mmv-permission-box.full-size .mw-mmv-permission-html {
		border-color: var(--main-border);
	}

	/* Gallery (mobile) */

	.overlay.media-viewer .details {
		background-color: var(--lighter-background-1);
		border-color: var(--main-border);
	}

	.overlay .license {
		color: var(--darker-text-color-3);
	}

	/* Body images */

	html .thumbinner {
		background-color: var(--darker-background-1);
		border-color: var(--main-border);
	}

	html .thumbimage {
		background-color: var(--darker-background-1);
		border-color: var(--main-border);
	}

	/* Link popup */

	.mwe-popups .mwe-popups-container {
		background-color: var(--main-background);
		box-shadow: 0 30px 90px -20px rgba(0,0,0,0.3), 0 0 1px var(--main-border);
	}

	.mwe-popups .mwe-popups-extract {
		color: var(--main-text-color);
	}

	.mwe-popups .mwe-popups-extract[dir='ltr']:after {
		background-image: linear-gradient(to right,rgba(56, 60, 74, 0),#383c4a 50%);
	}

	/* Citation message */

	table.ambox {
		background-color: var(--darker-background-1);
		border-color: var(--main-border);
	}

	table.ambox-content {
		border-left-color: #f28500;
	}

	.mw-parser-output a.external {
		color: var(--a-color);
	}

	/* Bottom navboxes */

	.navbox {
		border-color: var(--main-border);
	}

	.navbox-title {
		background-color: var(--darker-background-2) !important;
	}

	.navbox-even {
		background-color: var(--darker-background-1);
	}

	.navbox, .navbox-subgroup {
		background-color: var(--darker-background-1);
	}

	.navbox-group, .navbox-abovebelow {
		background-color: var(--darker-background-2) !important;
	}

	.navbox th, .navbox-title {
		background-color: var(--darker-background-2);
	}

	.navbox-list {
		border-color: var(--darker-background-2);
	}

	tr + tr > .navbox-abovebelow, tr + tr > .navbox-group, tr + tr > .navbox-image, tr + tr > .navbox-list {
		border-color: var(--table-border);
	}

	.catlinks {
		background-color: var(--darker-background-1);
		border-color: var(--main-border);
	}

	/* ===== Mobile overlay ===== */

	.overlay-enabled, #content {
		background-color: var(--main-background);
	}

	.header-container.header-chrome {
		background-color: var(--lighter-background-1);
		box-shadow: inset 0 -1px 3px rgba(0,0,0,0.18);
	}

	/* Navigation sidebar */

	.primary-navigation-enabled {
		background-color: var(--lighter-background-1);
	}

	nav {
		background-color: var(--lighter-background-1);
	}

	nav ul li a {
		color: var(--lighter-text-color-2);
	}

	nav ul li a:visited, nav ul li a:active {
		color: var(--lighter-text-color-2);
	}

	nav ul.hlist li a {
		color: var(--a-color);
	}

	/* Settings (small to medium screens) */

	form.mw-mf-settings #beta-field:before {
		background-color: var(--lighter-background-1);
	}

	form.mw-mf-settings .oo-ui-fieldLayout {
		border-color: var(--lighter-background-1);
	}

	form.mw-mf-settings .oo-ui-fieldLayout:first-child {
		border-color: var(--lighter-background-1);
	}

	.minerva-footer {
		border-color: var(--lighter-background-1);
	}

	#mw-mf-page-center {
		background-color: var(--lighter-background-1);
	}

	footer > .post-content > h2 {
		border-color: var(--lighter-divider);
	}

	.footer-content {
		color: var(--darker-text-color-3);
	}

	/* Settings (large screens) */

	.ns-special #content {
		background-color: var(--lighter-background-1);
	}

	.ns-special #content form {
		background-color: var(--main-background);
	}

	.ns-special .pre-content {
		background-color: var(--main-background);
	}

	/* Search */

	.overlay.search-overlay {
		background-color: var(--main-background);
	}

	.overlay.search-overlay .results, .overlay.search-overlay .search-feedback {
		background-color: var(--main-background);
	}

	.overlay.search-overlay .search-content {
		border-color: var(--light-divider);
	}

	.page-summary h2, .page-summary h3 {
		color: var(--main-text-color);
	}

	.wikidata-description, .with-results {
		color: var(--darker-text-color-2);
	}

	.page-list li, .topic-title-list li, .site-link-list li {
		border-color: var(--light-divider);
	}

	/* Language selection */

	.overlay-header-container, .overlay-footer-container {
		background-color: var(--main-background);
	}

	.language-searcher .panel {
		background-color: var(--main-background);
	}

	.language-searcher .site-link-list li {
		background-color: var(--main-background);
	}

	.language-overlay .overlay-content {
		background-color: var(--lighter-background-1);
	}

	.list-header {
		background-color: var(--lighter-background-1);
	}

	.language-searcher .site-link-list a {
		border-color: var(--light-divider);
	}

	.language-searcher .site-link-list a .autonym {
		color: var(--lighter-text-color-1);
	}

	.language-searcher .site-link-list a .title {
		color: var(--darker-text-color-2);
	}

	.overlay .panel {
		border-color: var(--light-divider);
	}

	.header-container {
		border-color: var(--light-divider);
	}

	/* Main page */

	#mp-topbanner {
		background-color: var(--darker-background-1) !important;
		border-color: var(--main-border) !important;
		color: var(--lighter-text-color-2) !important;
	}

	#mp-tfa-h2,
	#mp-itn-h2,
	#mp-dyk-h2,
	#mp-otd-h2,
	#mp-tfp-h2 {
		background-color: var(--darker-background-2) !important;
		border-color: var(--darker-background-2) !important;
		color: var(--lighter-text-color-3) !important;
	}

	.MainPageBG {
		background-color: var(--darker-background-1) !important;
		border-color: var(--table-border) !important;
	}

	#mp-left {
		color: var(--main-text-color) !important;
	}

	#mp-other,
	#mp-sister,
	#mp-lang {
		background-color: var(--main-background) !important;
		border-color: var(--main-background) !important;
		color: var(--lighter-text-color-3) !important;
	}


	#mp-other-lower {
		border-color: var(--main-border) !important;
	}

	/* ===== Wiktionary ===== */

	#mw-page-base {
		background-color: var(--lighter-background-1);
		background-image: none;
	}

	/* Translations */

	div.NavFrame div.NavHead, details.NavFrame summary.NavHead {
		background-color: var(--lighter-background-1);
		background-image: none;
	}

	div.NavFrame div.NavHead:hover, details.NavFrame summary.NavHead:hover {
		background-color: var(--btn-background);
		background-image: none;
	}

	div.Boxmerge, div.NavFrame, details.NavFrame {
		border-color: var(--main-border);
	}

	.translations-cell {
		background-color: var(--darker-background-1) !important;
	}
}
